KEYVAULT_NAME="rsobingusivaultdev"
RELEASE_NAME="svc-transcription-dev"
VALUES_FILE="./helm/environments/values-dev.yaml"
K8S_NAMESPACE="rso"

# Docker image configuration
IMAGE_NAME="svc-transcription"
IMAGE_TAG_PREFIX="local-dev"
IMAGE_PLATFORMS="linux/amd64"
